%h1 Blogs

%table(class='table')
  %thead
    %tr
      %th(colspan='2')
        Title

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td
          = link_to 'Show', blog_path(blog), class: 'btn btn-info'
          = link_to 'Edit', edit_blog_path(blog), class: 'btn btn-primary'
          = link_to 'Destroy', blog_path(blog), method: :delete, data: {confirm: 'Do you want to destroy?'}, class: 'btn btn-danger'



= link_to 'New Blog', new_blog_path, class: 'btn btn-primary'
